<div class="card-product" id="report-<%=report.id %>" data-center='<%= [report.longitude, report.latitude] %>'>

  <% if report.photo.attached? %>
    <%= cl_image_tag report.photo.key, class: 'card-product-img', height: 100, width: 150, crop: :fill %>
  <% else %>
    <%= image_tag(report.category_photo, class: 'card-product-img', height: 100, width: 150, crop: :fill) %>
  <% end %>


  <div class="card-product-infos flex-grow-1">
    <div>
      <%# <div><p>Quem reportou? <%= report.user.first_name.capitalize %>
      <div><p><%= report.description %></p></div>

      <div class="">
        <div class=""><%= link_to "Ver detalhes", report_path(report), class: "btn botao" %></div>
      </div>
    </div>

    <% if report.reviews.empty? %>
      <div id="reviews-container" data-report-id='<%= report.id %>'>
        <p id='no-reviews-container'>Sem comentários</p>
      </div>
    <% else %>
      <p class="review-count">Total de comentarios: <span id="review-count"> <%= report.reviews.length %></span></p>
    <% end %>
  </div>
</div>
<%# ============================================================= %>

      <%# <div class="info-report">
        <% if report.status && report.user != current_user %>
          <%# <%= link_to "Criar comentário", new_report_review_path(report), class: "btn botao" %>
        <%# <% elsif report.status && report.user == current_user %>
          <%# <p>Caso em andamento</p> %>
        <%# <% else %>
          <%# <p>Denuncia Resolvida!</p> %>
        <%# <% end %>
      <%# </div> %>
