<div class="background-show">
  <div class="container-show">
    <div class="img-show">
      <% if @report.photo.attached? %>
        <%= cl_image_tag @report.photo.key, class: 'card-product-img', height: 400, width: 450, crop: :scale %>
      <% else %>
        <%= image_tag(@report.category_photo, id: 'show-img') %>
      <% end %>
    </div>

    <div class="show-text flex-grow-1">
      <h2>DENUNCIA CRIADA POR</h2>
      <h2><%= "#{@report.user.first_name.upcase} #{@report.user.last_name.upcase}" %></h2>
      <p><%= @report.address %></p>
      <h4><strong>Descrição:</strong> <%= @report.description %></h4>
      <br>
      <div class="show-tags d-flex ">
        <h5><strong>Nivel de perigo:</strong> <%= @report.danger_level %></h5>
        <h5><strong>Categoria:</strong> <%= @report.category %></h5>
        <% if @report.status %>
          <h5 class="mr-5">Caso em andamento!</h5>
        <% else %>
          <h5 class="mr-5">Denúncia Resolvida!</h5>
        <% end %>
      </div>
      <div class="seta-show">
      <%= link_to reports_path do  %>
         <i class="fas fa-arrow-circle-left"></i>
      <% end %>
      </div>

      <% if policy(@report).destroy? || policy(@report).close? %>
        <%= link_to "Delete", report_path, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn" %>
        <%= link_to "Marcar como Concluido", report_close_path(@report), method: :patch, class: "btn" %>
      <% end %>
    </div>
  </div>

      <div class="review-show mt-5">
        <div class="review-title text-center">
          <% if @report.reviews.empty? %>
            <h2 id='no-reviews' >ESSA DENÚNCIA AINDA NÃO POSSUI COMENTÁRIOS</h2>
          <% elsif @report.reviews.length == 1 %>
              <h2>ESSA DENÚNCIA POSSUI <span id="review-count"> <%= @report.reviews.length %></span> COMENTÁRIO</h2>
          <% else %>
              <h2>ESSA DENÚNCIA POSSUI <span id="review-count"> <%= @report.reviews.length %></span> COMENTÁRIOS</h2>
          <% end %>
        </div>
        <div class="text-center">
          <% if @report.status && @report.user != current_user %>
            <%= link_to "Criar um comentário", new_report_review_path(@report), class: "btn btn-primary px-5 mt-3" %>
          <% end %>
        </div>
          <% if @report.reviews.empty? %>
            <div id="reviews-container" data-report-id='<%= @report.id %>'>
              <p id='no-reviews-container'>Nenhum comentário</p>
            </div>
          <%else%>
            <div id="reviews-container" data-report-id='<%= @report.id %>'>
              <% @report.reviews.each do |review|%>
              <%= render 'reviews/review', review: review %>
              <hr>
              <% end %>
            </div>
          <% end %>
      </div>

      <div id="map"
        <%# style=" height: 786px;" %>
        data-markers="<%= @markers.to_json %>"
        data-report=''
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

</div>
